<strong> Hello <%=@content.driver.username%>,<br><br> Lets update your spot by filling in the blanks below.</strong><br><br><br>

<% if flash.has?(:empty_tweet)%>
<%=flash[empty_tweet]%>
<%end%>
<strong>This is what you entered previously:<strong><br><br>
<%=@content.license_plate%><br>
<%=@content.car_location%><br>
<%=@content.car_model%><br><br><br>

<strong>Fill In Updated Version<strong><br><br>
<form method='POST' action="/contents/<%=@content.id%>">
  <input id='hidden' type='hidden' name="_method" value="patch">
  <label>Where did you park your car?</label>
  <input type="text" name="location" value= '<%=@content.car_location%>'placeholder="location?"><br>
  <label>What is your car license_plate?</label>
  <input type="text" name="license_plate" value= '<%=@content.license_plate%>' placeholder="license_plate?"><br>
  <label>What is the make and model of your car?</label>
  <input type="text" name="model" value= '<%=@content.car_model%>' placeholder="model?"><br><br>
  <input type='submit' value='Updated Content'>
  </form>
<a href "/login"><button>Login<button><br><br>
<a href "/contents"><button>Available Spots<button><br><br>

  <form method="POST" action="/contents/<%=@content.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type ="submit" value="Delete Available Spot">
  </form>
