

<strong><%=@content.driver.username%>, would you like to delete this available spot?</strong><br><br>

<%=@content.car_location%><br>
<%=@content.license_plate%><br>
<%=@content.car_model%><br><br>

<form method="POST" action="/contents/<%=@content.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type ="submit" value="Delete Available Spot">
</form>
<a href="/contents"><button>Available Spots</button>
